html {
  scroll-behavior: smooth;
  background: #efd7cd;
}

body {
  max-width: 375px;
  margin: auto;
  background: white;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.header-footer {
  display: flex;
  flex-wrap: wrap;
  background: #C95D34;
  color: white;
  padding: 0 15px 10px;
}

.cta-ancre {
  margin-top: 10px;
  align-self: center;
}

.header-footer p {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 42px;
  margin-right: 0;
}

h2,
h3,
a {
  text-transform: uppercase;
  font-family: "indivisible", sans-serif;
}

.cta-ancre a {
  text-decoration: none;
  font-weight: 700;
  color: white;
  border-top: 3px solid #E3DD14;
  padding: 5px 0;
  margin: 0 26px 0 0;
}

.cta-ancre .cta-ancre-contact {
  margin-left: 10px;
  margin-right: 0;
}

.logo-streetjamfestival {
  width: 50%;
}

.img-title {
  position: relative;
  color: white;
}
  
h2 {
  position: absolute;
  bottom: 10px;
  left: 35px;
  margin: 0;
  font-size: 27px;
  color: white;
}

p {
  margin: 25px 35px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.festival .introduction {
  margin-bottom: 60px;
}

h3 {
  color: #C95D34;
  font-size: 20px;
  margin: 10px 35px 4px;
}

.planning {
  background: #C95D34;
  padding: 10px 30px 17.5px;
  margin: 10px 35px;
  color: white;
  font-size: 13px;
}

ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

strong {
  font-weight: 700;
}

p strong {
  color: #C95D34;
}

.graffiti-elisa {
  margin-bottom: 60px;
}

.skate-title {
  color: white;
  margin: 0;
  margin-top: 17.5px;
}

.skate-planning-text {
  background: #C95D34;
  border-top: 5px solid #E3DD14;
  border-bottom: 5px solid #E3DD14;
  color: white;
  padding: 30px;
  margin: -266px 0 60px;
}

.skate {
  background-image: url(../img/skate.png);
  background-repeat: no-repeat;
  background-position: 50%;
  padding-bottom: 368px;
}

.skate hr {
  width: 299px;
  margin-left: -30px;
  margin-bottom: 17.5px;
}

hr {
  border: 3px solid #E3DD14;
  width: 80%;
}

.music {
  margin-bottom: 60px;
  margin-top: 60px;
}

.music .planning {
  margin-right: 0;
  margin-bottom: 0;
}

.music-img {
  width: 60%;
}

.streetfood-choice {
  margin-bottom: 40px;
}

.food,
.contact {
  border-top: 20px solid #C95D34;
  margin-bottom: 60px;
}

.contact h3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.contact p {
  margin-top: 0;
}

.container-icon {
  margin: 0 40px;
  padding: 10px 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.container-icon a {
  width: 30px;
  margin: 5px;
}

.copyright {
  font-size: 10px;
  margin: 0;
  color: white;
  text-align: justify;
  padding: 20px 90px;
}

footer {
  background: #C95D34;
}